@model ZadatakGET.Models.Ispit

@{
    ViewBag.Title = "Create";
}

<h2>Kreiranje novog ispita</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Ispit</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.BI, "BI", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("BI", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BI, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PredmetId, "PredmetId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PredmetId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PredmetId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Oena, "Oena", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Oena, new { htmlAttributes = new { @class = "form-control", @min = "6", @max = "10" } })
                @Html.ValidationMessageFor(model => model.Oena, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="button button1" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Nazad na listu ispita", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
