@model ZadatakGET.Models.Ispit

@{
    ViewBag.Title = "DeleteIspit";
}

<h2>Brisanje ispita za studenta @Html.DisplayFor(model => model.Student.Ime) @Html.DisplayFor(model => model.Student.Prezime)</h2>
<h4>Broj indeksa: @Html.DisplayFor(model => model.Student.BI)</h4>

<h3>Da li ste sigurni da zelite da izbrisete ovaj ispit?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Predmet.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Predmet.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Oena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Oena)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Izbrisi" class="button button1" /> |
            @Html.ActionLink("Nazad na listu studenata", "Index")
        </div>
    }
</div>
